In [1]:
#Permet d'afficher les graphiques directement dans le code

%matplotlib inline

#Import des librairies nécessaire à la réalisation du projet

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#On import le fichier csv contenant les données de la population

data_population = pd.read_csv('fr_population.csv')

code_domaine = 'Code Domaine'
domaine = 'Domaine'
code_zone = 'Code zone'
zone = 'Zone'
code_element = 'Code Élément'
element = 'Élément'
code_element = 'Code Produit'
produit = 'Produit'
code_annee = 'Code année'
annee = 'Année'
unite = 'Unité'
valeur = 'Valeur'
symbole = 'Symbole'
description_symbole = 'Description du Symbole'

In [3]:
#On vérifie que la taille du fichier chargé est bonne

data_population.shape

(175, 14)

In [4]:
#On visualise les première entrées de notre jeux de données afin de repérer les possibles clés primaires

data_population.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,Afghanistan,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
1,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,Afrique du Sud,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
2,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,Albanie,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
3,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,Algérie,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
4,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,Allemagne,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [5]:
#On teste les clés primaires potentielles à l'aide de requêtes

data_population[zone].value_counts()

Malaisie             1
Guatemala            1
Arménie              1
Espagne              1
Monténégro           1
                    ..
Trinité-et-Tobago    1
Égypte               1
Mali                 1
Azerbaïdjan          1
Éthiopie             1
Name: Zone, Length: 175, dtype: int64

In [6]:
data_population[code_zone].value_counts()

256    1
167    1
155    1
156    1
157    1
      ..
89     1
90     1
91     1
93     1
255    1
Name: Code zone, Length: 175, dtype: int64

In [7]:
#Il apparait que les attributs 'Code zone' et 'zone' sont uniques pour chaque entrée et sont de potentielles clé primaires
#En observant les données provenant des autres fichiers ont remarque qu'ils sont tout 2 utilisés dans différents fichiers
#La clé primaire de ce jeu de données est donc le "Code zone"+"zone"

In [8]:
#Je déclare que 'Zone' est désormais l'index de mon DataFrame
data_population = data_population.set_index(zone)
data_population.head()

,Code Domaine,Domaine,Code zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
Zone,,,,,,,,,,,,,
Afghanistan,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,2,511,Population totale,2501,Population,2013,2013,1000 personnes,30552,NaN,Donnée officielle
Afrique du Sud,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,202,511,Population totale,2501,Population,2013,2013,1000 personnes,52776,NaN,Donnée officielle
Albanie,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,3,511,Population totale,2501,Population,2013,2013,1000 personnes,3173,NaN,Donnée officielle
Algérie,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,4,511,Population totale,2501,Population,2013,2013,1000 personnes,39208,NaN,Donnée officielle
Allemagne,FBSH,Bilans Alimentaire (Ancienne méthodologie et p...,79,511,Population totale,2501,Population,2013,2013,1000 personnes,82727,NaN,Donnée officielle

In [9]:
#On calcule la population totale
populationmondiale = data_population[valeur].sum() * 1000
print(populationmondiale)

8413993000

In [10]:
#On remarque que la population totale indiquée par les données est plus grande que la population totale réelle.
#Cela signifie soit que les données traitées sont incorrectes, soit qu'il y a des incohérences dans notre jeu de données.
#On peut remarquer qu'une entrée n'est pas de données officielles et qu'elle traite d'un pays qui dispose déjà de données officiels
#Il me parait judicieux de recalculer la population totale sans tenir compte des données non officielles

In [11]:
#On calcul la population selon les sources officielles
population_mondiale = data_population[data_population[description_symbole] == 'Donnée officielle'][valeur].sum() * 1000
print(population_mondiale)

6997326000

In [12]:
#On remarque que le résultat obtenu est maintenant pertinent