# En ne prenant en compte que les céréales destinées à l'alimentation, quelle proportion est destinée à l'alimentation animale ?

In [1]:
import pandas as pd

In [2]:
#On importe et formatte nos données
data_cereales = pd.read_csv('fr_cereales.csv')
data_vegetaux = pd.read_csv('fr_vegetaux.csv')

#On gère nos noms de colonnes via des variables pour faciliter la maintenance du code
code_domaine = 'Code Domaine'
domaine = 'Domaine'
code_zone = "Code zone"
zone = 'Zone'
code_element = 'Code Élément'
element = 'Élément'
code_produit = 'Code Produit'
produit = 'Produit'
code_annee = 'Code année'
annee = 'Année'
unite = 'Unité'
valeur = 'Valeur'
symbole = 'Symbole'
description_symbole = 'Description du Symbole'
is_cereale = 'Est une céréale ?'

cereales = data_cereales.groupby(produit).sum().reset_index()
#On retire les doublons
mask0 = data_vegetaux[code_zone] != 351

#On ne garde que les colonnes dont on a besoin
data_vegetaux = data_vegetaux.drop([code_domaine, domaine, code_zone, code_element, code_annee, annee, symbole, description_symbole], axis = 1)
cereales = cereales[produit].values

#On retire les lignes qui ne traite pas de la nourriture pour humains ou animal
mask01 = data_vegetaux[element] == 'Nourriture'
mask02 = data_vegetaux[element] == 'Aliments pour animaux'
data_vegetaux = data_vegetaux[mask01 | mask02]
cereales

array(['Avoine', 'Blé', 'Céréales, Autres', 'Maïs', 'Millet', 'Orge',
       'Riz (Eq Blanchi)', 'Seigle', 'Sorgho'], dtype=object)

In [3]:
#Fonction qui détermine si un produit est une céréale et l'indique dans une colonne 'Est une céréales ?'
def est_une_cereale(data , cereales) :
    data[is_cereale] = False
    for z, e, p in zip(data[zone], data[element], data[produit]) :
        if p in cereales :
            mask1 = data[zone] == z
            mask2 = data[element] == e
            mask3 = data[produit] == p
            data.loc[mask1 & mask2 & mask3, is_cereale] = True
    return data

In [4]:
data_vegetaux = est_une_cereale(data_vegetaux, cereales)
data_vegetaux.head()

,Zone,Élément,Code Produit,Produit,Unité,Valeur,Est une céréale ?
6,Afghanistan,Nourriture,2511,Blé,Milliers de tonnes,4895.0,True
16,Afghanistan,Nourriture,2805,Riz (Eq Blanchi),Milliers de tonnes,422.0,True
25,Afghanistan,Aliments pour animaux,2513,Orge,Milliers de tonnes,360.0,True
28,Afghanistan,Nourriture,2513,Orge,Milliers de tonnes,89.0,True
37,Afghanistan,Aliments pour animaux,2514,Maïs,Milliers de tonnes,200.0,True

In [5]:
data_cereales = data_vegetaux[data_vegetaux[is_cereale] == True]
data_cereales.head()

,Zone,Élément,Code Produit,Produit,Unité,Valeur,Est une céréale ?
6,Afghanistan,Nourriture,2511,Blé,Milliers de tonnes,4895.0,True
16,Afghanistan,Nourriture,2805,Riz (Eq Blanchi),Milliers de tonnes,422.0,True
25,Afghanistan,Aliments pour animaux,2513,Orge,Milliers de tonnes,360.0,True
28,Afghanistan,Nourriture,2513,Orge,Milliers de tonnes,89.0,True
37,Afghanistan,Aliments pour animaux,2514,Maïs,Milliers de tonnes,200.0,True

In [6]:
data_cereales = data_cereales.groupby(element).sum(valeur).reset_index()
data_cereales = data_cereales.drop([code_produit, is_cereale], axis = 1)
data_cereales.head()

                 Élément     Valeur
0  Aliments pour animaux  1070617.0
1             Nourriture  1241405.0

In [15]:
ratio_alimentation_animaux = round(((data_cereales[valeur][0]) / (data_cereales[valeur][1])), 2)

In [17]:
#Réponse question 11 :
print("Pour chaque kg de céréales destinées à l'alimentation, ", (int (ratio_alimentation_animaux * 1000)), " g sont destinés aux animaux")

Pour chaque kg de céréales destinées à l'alimentation,  860  g sont destinés aux animaux