# Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [1]:
import pandas as pd

In [2]:
#On importe et formate nos données
data_population = pd.read_csv('fr_population.csv')
data_sous_alimentation = pd.read_csv('fr_sousalimentation.csv')

#On gère nos noms de colonnes via des variables pour faciliter la maintenance du code
code_domaine = 'Code Domaine'
domaine = 'Domaine'
code_zone = "Code zone"
zone = 'Zone'
code_element = 'Code Élément'
element = 'Élément'
code_produit = 'Code Produit'
produit = 'Produit'
code_annee = 'Code année'
annee = 'Année'
unite = 'Unité'
valeur = 'Valeur'
symbole = 'Symbole'
description_symbole = 'Description du Symbole'
note = 'Note'
pourcent_pop_mondiale_sous_nutrition = 'Proportion de la population mondiale en sous-nutrition en %'
#On enlève les doublons et les informations inutiles de nos données
mask0 = data_population[code_zone] != 351
mask1 = data_sous_alimentation[code_zone] != 351
mask2 = data_sous_alimentation[annee] == '2012-2014'
data_sous_alimentation= data_sous_alimentation.drop([code_domaine, domaine, code_zone, zone, code_element, element, code_produit, produit, code_annee, unite, symbole, description_symbole, note], axis = 1)
data_population = data_population[mask0]
data_sous_alimentation = data_sous_alimentation[mask1 & mask2]

#on enlève les lignes dont les données sont manquantes
data_sous_alimentation = data_sous_alimentation.dropna()

#On gère les données non numériques et on converti nos valeurs en float
data_sous_alimentation[valeur] = data_sous_alimentation[valeur].replace('<0.1', float(0.05))

data_sous_alimentation = data_sous_alimentation.astype({valeur : 'float'})
data_sous_alimentation.shape

(119, 2)

In [3]:
#On récupère la population mondiale
population_mondiale = data_population[valeur].sum() * 1000

In [4]:
#On regroupe les données par Années 
data_sous_alimentation = data_sous_alimentation.groupby(annee).sum(valeur).reset_index()
data_sous_alimentation.head()

       Année  Valeur
0  2012-2014  744.85

In [5]:
#On convertit nos valeurs en personne
data_sous_alimentation[valeur] *= 1000000

#On convertit nos valeur en % de la population mondiale
data_sous_alimentation[valeur] /= population_mondiale
data_sous_alimentation[valeur] *= 100
data_sous_alimentation[valeur] = round(data_sous_alimentation[valeur], 2)
data_sous_alimentation = data_sous_alimentation.rename(columns = {valeur : pourcent_pop_mondiale_sous_nutrition})
data_sous_alimentation = data_sous_alimentation.set_index(annee)
data_sous_alimentation.head()

           Proportion de la population mondiale en sous-nutrition en %
Année
2012-2014                                              10.64

In [8]:
#Réponse à la question 10 :
print('La proportion de la population mondiale considérée comme étant en sous-nutrition est de : ', data_sous_alimentation[pourcent_pop_mondiale_sous_nutrition][0], '%')
#data_sous_alimentation.to_csv('P3_10_données.csv')

La proportion de la population mondiale considérée comme étant en sous-nutrition est de :  10.64 %